{% extends "layout.html" %}
{% block body %}
    {% if session.isConferenceChair %}
        <br>
        <h1>Assign Reviewers:</h1>
        <br>
        {% for paper in papers %}
            <h3><a href="/paper/{{ paper.id }}">{{ paper.title }}</a></h3>
            <b>Reviewers:</b>
            <br>
            <tbody>
                {% for reviewer in paper.reviewers %}
                    <tr>
                        <td>{{ reviewer.email }}</td>
                    </tr>
                    <br>
                {% endfor %}
            </tbody>

            <br/>
            <b>Add an Reviewer:</b>
            <form action="/addReviewerToPaper/{{ paper.id }}" method="post">
                <select name="reviewers" multiple>
                {% for reviewer in reviewers %}
                    <option value="{{ reviewer.email }}">{{ reviewer.email }}</option>
                {% endfor %}
                </select>
                <br><br>
                <input type="submit" value="Submit!"/>
            </form>
            <br>

            <br>
            <tbody>
                {% for score in scores %}
                    <tr>
                        user_id:
                        <td>{{ score.userId }}</td>
                        score:
                        <td>{{ score.score }}</td>
                    </tr>
                    <br>
                {% endfor %}
            </tbody>

            FinalScore: {{ finalScore}}
        {% endfor %}
    {% endif %}
{% endblock %}