{% extends "layout.html" %}
{% block body %}
    {% if session.isConferenceChair %}
        <br>
        <h1>Assign Reviewers:</h1>
        <br>
        {% for currentPaper in paperWithPossibleReviewers %}
            <h3><a href="/paper/{{ currentPaper.paper.id }}">{{ currentPaper.paper.title }}</a></h3>
            <b>Reviewers:</b>
            <br>
            {% for reviewer in currentPaper.paper.reviewers %}
                {{ reviewer.email }}
                <br>
            {% endfor %}
            {% if currentPaper.amountOfPossibleReviewers <= 0%}
                <br>
                You can't add more than <b>3</b> Reviewers to one Paper.
                <br><br><br>
            {% else %}
            <br>
            <b>Add a Reviewer:</b>
            <form action="/addReviewerToPaper/{{ currentPaper.paper.id }}" method="post">
                <select name="reviewers" multiple>
                {% for reviewer in currentPaper.possibleReviewers %}
                    <option value="{{ reviewer.email }}">{{ reviewer.email }}</option>
                {% endfor %}
                </select>
                <br><br>
                You only can add <b>{{ currentPaper.amountOfPossibleReviewers }}</b> more reviewerS to this paper.
                <br><br>
                <input type="submit" value="Submit!"/>
            </form>
            <br><br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}