<!DOCTYPE html>
<html lang="en">
<head>
    <title>Peer Review System</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Peer Review System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% if session.logged_in%}
                    {% if not session.isConferenceChair %}
                        <li class="nav-item">
                            <a class="nav-link" href="/paperSubmission">Paper Submission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reviewSubmission">Review Submission</a>
                        </li>
                    {% endif %}
                    {% if session.isConferenceChair %}
                        <li class="nav-item">
                            <a class="nav-link" href="/reviewer">Assignment Of Reviewers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/paperDecision">Final Paper Decision</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">log out ({{ session.user }})</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Log-in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>