{% extends "layout.html" %}
{% block body %}
    <br>
    <h1>Login</h1>
    <form action="/login" method="post">
        Email
        <br>
        <input type="text" name="email">
        <br><br>
        Password
        <br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Submit"/>
    </form>
    <br>
    <a href="/register">or register as a new user</a>
    <br>
    <br>
    {% for user in users %}
        {{ user.email }}
        <br>
    {% endfor %}
{% endblock %}