{% extends "layout.html" %}
{% block body %}
    <br>
    <h1>Login</h1>

    <form action="/login" method="post">
        Email
        <br>
        <input type="text" name="email">
        <br><br>
        Password
        <br>
        <input type="text" name="password">
        <br><br>
        <input type="submit" value="Submit"/>
    </form>

    <br>
    <a href="/register">or register as a new user</a>
    <br>

    <br>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isConferenceChair }}</td>
            </tr>
            <br>
        {% endfor %}
    </tbody>
{% endblock %}