{% extends "layout.html" %}
{% block body %}

    <h1>Paper: {{ paper.title }}</h1>

    {{ paper.body }}

    Authors:

    <br>
    <tbody>
        {% for user in paper.authors %}
            <tr>
                    user_id:
                <td>{{ user.id }}</td>
                email:
                <td>{{ user.email }}</td>
            </tr>
            <br>
        {% endfor %}
    </tbody>

    {% if not session.isConferenceChair %}

    <br/>
    Want to add an Author to a Paper:
    <form action="/addAuthorToPaper/{{ paper.id }}" method="post">
        email:
        <input type="text" name="email">
        <input type="submit" value="Submit!"/>
    </form>
    {% endif %}

    {% if session.isConferenceChair %}
    <br/>
    Reviewers:

    <br>
    <tbody>
        {% for reviewer in paper.reviewersOfTable %}
            <tr>
                user_id:
                <td>{{ reviewer.id }}</td>
                email:
                <td>{{ reviewer.email }}</td>
            </tr>
            <br>
        {% endfor %}
    </tbody>

    <br/>
    Want to add an Reviewer for this Paper:
    <form action="/addReviewerToPaper/{{ paper.id }}" method="post">
        email:
        <input type="text" name="email">
        <input type="submit" value="Submit!"/>
    </form>

    {% endif %}
{% endblock %}