{% extends "layout.html" %}
{% block body %}
    <br>
    <h1>{{ paper.title }}</h1>
    <br>
    <b>by:</b>
    <br>
    <tbody>
        {% for user in paper.authors %}
            {{ user.email }}
            <br>
        {% endfor %}
    </tbody>
    <br>
    <b>Abstract:</b>
    <br>
    {{ paper.abstract }}
    <br><br>
    <b>Status:</b>
    <br>
    {{ paper.status.value }}
    <br>
    <br>
    <tbody>
        {% for score in scores %}
            <tr>
                user_id:
                <td>{{ score.userId }}</td>
                score:
                <td>{{ score.score }}</td>
            </tr>
            <br>
        {% endfor %}
    </tbody>

    <b>FinalScore:</b> {{ finalScore}}
{% endblock %}