{% extends "layout.html" %}
{% block body %}
    <br>
    <h1>{{ paper.title }}</h1>
    <br>
    <b>by:</b>
    <br>
    {% for user in paper.authors %}
        {{ user.email }}
        <br>
    {% endfor %}
    <br>
    <b>Abstract:</b>
    <br>
    {{ paper.abstract }}
    <br><br>
    <b>Status:</b> {{ paper.status.value }}
    <br><br>
    {% if session.isConferenceChair %}
        {% for score in scores %}
            user_id:
            {{ score.userId }}
            score:
            {{ score.score }}
            <br>
        {% endfor %}
        <b>FinalScore:</b> {{ finalScore}}
    {% endif %}
{% endblock %}