<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <h1>Paper: {{ paper.title }}</h1>

    {{ paper.body }}

    Authors:

    <br>
    <tbody>
        {% for user in paper.authors %}
            <tr>
                user_id:
                <td>{{ user.id }}</td>
                email:
                <td>{{ user.email }}</td>
            </tr>
            <br>
        {% endfor %}
    </tbody>

    <br/>
    Want to add an Author to a Paper:
    <form action="/addAuthorToPaper/{{ paper.id }}" method="post">
        email:
        <input type="text" name="email">
        <input type="submit" value="Submit!"/>
    </form>
</body>
</html>