{% extends "layout.html" %}
{% block body %}

    <br>
    <h1>{{ paper.title }}</h1>
    <br>

    <b>by:</b>
    <br>
    <tbody>
        {% for user in paper.authors %}
            {{ user.email }}
            <br>
        {% endfor %}
    </tbody>
    <br>

    <b>Abstract:</b>
    <br>
    {{ paper.abstract }}
    <br><br>

    <b>Status:</b>
    <br>
    {{ paper.status.value }}
    <br>


    {% if session.isConferenceChair %}
    <br/>
    Reviewers:

    <br>
    <tbody>
        {% for reviewer in paper.reviewersOfTable %}
            <tr>
                user_id:
                <td>{{ reviewer.id }}</td>
                email:
                <td>{{ reviewer.email }}</td>
            </tr>
            <br>
        {% endfor %}
    </tbody>


        <br>
    <tbody>
        {% for score in scores %}
            <tr>
                user_id:
                <td>{{ score.userId }}</td>
                score:
                <td>{{ score.score }}</td>
            </tr>
            <br>
        {% endfor %}
    </tbody>

    FinalScore: {{ finalScore}}

    <br/>
    Want to add an Reviewer for this Paper:
    <form action="/addReviewerToPaper/{{ paper.id }}" method="post">
        email:
        <input type="text" name="email">
        <input type="submit" value="Submit!"/>
    </form>

    {% endif %}
{% endblock %}