<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Paper submition Page</h1>

    <form action="/submitpaper" method="post">
        <input type="text" name="title">
        <input type="text" name="abstract">
        <input type="submit" value="Submit!"/>
    </form>

    <br>
    <tbody>
        {% for paper in papers %}
            <tr>
                <td>{{ paper.id }}</td>
                <td>{{ paper.title }}</td>
                <td>{{ paper.abstract }}</td>
            </tr>
            <br>
        {% endfor %}
    </tbody>
</body>
</html>