{% extends "layout.html" %}
{% block body %}
    <br/>
    <h1>Paper Submition:</h1>

    <form action="/paper/" method="post">
        Paper Title
        <br>
        <input type="text" name="title">
        <br><br>
        Abstract
        <br>
        <input type="text" name="abstract">
        <br><br>
        Authors
        <br>
        <select name="authors" multiple>
            {% for user in allUsers %}
                <option value="{{ user.email }}">{{ user.email }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Submit!"/>
    </form>

{% endblock %}
