<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <h1>User: {{ user.email }}</h1>

    user_id: {{ user.id }}
    password: {{ user.password }}
    <br/>

    Paper Submition:
    <br>
    <form action="/submitpaper/{{ user.id }}" method="post">
        <input type="text" name="title">
        <input type="text" name="abstract">
        <input type="submit" value="Submit!"/>
    </form>

    Papers:
    <br>
    <tbody>
        {% for paper in papers %}
            <tr>

                <b><td>{{ paper.title }}</td></b>
                <br>
                paper_id:
                <td>{{ paper.id }}</td>
                <br>
                authors:
                {% for user in paper.authors %}
                    <tr>
                    user_id:
                    <td>{{ user.id }}</td>
                    email:
                    <td>{{ user.email }}</td>
                {% endfor %}
            </tr>
            <br>
        {% endfor %}
    </tbody>
</body>
</html>